.taglib-page-iterator .lfr-pagination-config .lfr-pagination-delta-selector {
    float: right;
}
.magazine-form{
	
}

.magazine-form label.control-label{
	padding-right : 10px;
}

.aui .magazine-form .control-group {
    margin-bottom: 10px !important;
}

.magazine-content label.control-label{
	text-align: left !important;
}